/* Next Button */
.swiper-button-next {
  color: white;
  padding: 28px;
  background-color: #155e75;
}

/* Prev Button */
.swiper-button-prev {
  color: white;
  padding: 28px;
  background-color: #155e75;
}
